<div class="wrapper-free-rooms">
    <!--
    <mat-form-field subscriptSizing="dynamic">
    <mat-select [(value)]="defaultFilterValue">
        <mat-option *ngFor="let building of dataSourceBuildings.connect().value" (click)="triggerFilterInput(building.name)" value="building.name">
            {{building.name}}
        </mat-option>
    </mat-select>
    </mat-form-field>
    -->

    <mat-form-field subscriptSizing="dynamic">
        <!--mat-icon matPrefix>search</mat-icon-->
        <input matInput (keyup)="applyFilter($event)" placeholder="Gebäude wählen" #filterInput value="{{defaultFilterValue}}" [matAutocomplete]="auto">
        <!--button [disabled]="!input.value" matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''; clearFilter()">
            <div *ngIf="input.value">
                <mat-icon>close</mat-icon>
            </div>
        </button-->
        <button [disabled]="true" matSuffix mat-icon-button aria-label="dropdown">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let building of dataSourceBuildings.connect().value" (click)="triggerFilterInput(building.name)">
                    {{building.name}}
                </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div>
        <button mat-button (click)="picker.open()" class="datePickerButton">
            {{this.getDate(this.startDate)}} &nbsp; &nbsp; &nbsp; {{this.getTime(this.startTime)}}
        </button>
        <mat-form-field subscriptSizing="dynamic" class="mat-form-field-no-padding" [class.cdk-visually-hidden]="true">
            <!--mat-label>{{this.getDate()}}</mat-label-->
            <input matInput [matDatepicker]="picker" class="inputDatePicker" #input [(ngModel)]="startDate" [hidden]="true">
            <!--mat-hint>MM/DD/YYYY</mat-hint-->
            <mat-datepicker-toggle [for]="picker" [hidden]="true"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker class="datepicker-dialog">
                <mat-form-field>
                    <input matInput
                           name="selected_time_B"
                           [format]="24"
                           [(ngModel)]="startTime"
                           [ngxMatTimepicker]="timePicker"
                           placeholder="16:00"
                           readonly />
                </mat-form-field>
                <ngx-mat-timepicker #timePicker [(ngModel)]="startTime"></ngx-mat-timepicker>
                                
                <mat-datepicker-actions>
                    <div class="datepicker-actions">
                        <button mat-button class="setTime" (click)="timePicker.open()">{{this.getTime(this.startTime)}}</button>   
                        <div class="datepicker-buttons">                        
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply >Apply</button>
                        </div>
                    </div>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
    </div>

    <div *ngIf="dataSourceRooms.filteredData?.length; else noMatch">
        <div class="cards">
            <div *ngFor="let room of dataSourceRooms.connect().value">
                    <mat-card class="single-card" (click)="navigate('view-room', room)">
                        <mat-card-header>
                            <mat-card-title>
                                {{room.name}}
                                <span class="spacer">
                                    &nbsp;
                                </span>
                                <span class="icon"> <i mat-icon class="material-icons">lock</i> </span>
                            </mat-card-title>
                            <mat-card-subtitle>
                                <div class="row">{{room.type}}</div>
                                <div class="row">Etage: {{room.floor}}</div>
                                <div class="row">Frei bis: 15:00</div>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="action-button" (click)="navigate('view-room', room)">
                                Raum anzeigen
                            </button>
                        </mat-card-actions>
                    </mat-card>
            </div>
        </div>
    </div>
    <ng-template #noMatch>
        <div>No data matching the filter "{{this.dataSourceRooms.filter}}"</div>
    </ng-template>
</div>