<div class="wrapper-free-rooms">
    <mat-form-field subscriptSizing="dynamic">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput matInputAutofocus (keyup)="applyFilter($event)" placeholder="Raumnummer eingeben" #input value="{{defaultValue}}">
        <button [disabled]="!input.value" matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''; clearFilter()">
            <div *ngIf="input.value">
                <mat-icon>close</mat-icon>
            </div>
        </button>
    </mat-form-field>

    <div>
        <mat-form-field class="example-full-width" subscriptSizing="dynamic">
            <!--mat-label>Choose a date</mat-label-->
            <input matInput [matDatepicker]="picker">
            <!--mat-hint>MM/DD/YYYY</mat-hint-->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker>
                <mat-datepicker-actions>
                    <mat-form-field appearance="fill">
                        <mat-label>Uhrzeit</mat-label>
                        <input matInput type="time">
                    </mat-form-field>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
    </div>

    <div *ngIf="dataSource.filteredData?.length; else noMatch">
        <div class="cards">
            <div *ngFor="let room of dataSource.connect().value">
                    <mat-card class="single-card" (click)="navigate('view-room', room)">
                        <mat-card-header>
                            <mat-card-title>{{room.name}}</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <button (click)="navigate('view-room', room)">
                                Raum anzeigen
                            </button>
                        </mat-card-content>
                        <mat-card-actions>
                        </mat-card-actions>
                    </mat-card>
            </div>
        </div>
    </div>
    <ng-template #noMatch>
        <div>No data matching the filter "{{this.dataSource.filter}}"</div>
    </ng-template>
</div>