<div class="header" id="room-table" *ngIf="currentLocation === 'room-table'">
    <button class="return" mat-icon-button (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="title">Roomfinder</div>
    <!--button class="button" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button-->
</div>

<div class="header" id="startmenu" *ngIf="currentLocation === 'startmenu'">
    <img class="hsb-logo" src="../../assets/hsb assets/logo_hsb.svg">
    <div class="title">Roomfinder</div>
    <button class="button" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
</div>