

.header {
    background-color: #001D3D;
    //background-image: url(../../assets/hsb\ assets/caleidoscope_green.svg)
    display: flex;
    flex-wrap: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    //height: 90px;
    height: 10vh;
    overflow: hidden;
}

.title {
    //margin:0.5rem;
    margin: 0px;
    color: white;
    font-size: 5vh;
    font-weight: bold;
    height: 10vh;
}

.hsb-key {
    //padding:0.5rem;
    //padding-right: 1rem;
    height: 4vh;
    width: auto;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.button {
    padding:0.5vw;
    color: white;
    background-color: transparent;
    border-style: hidden;
    align-self: center;
    position: absolute;
    right: 0;
    //margin-right: 1vw;
    //font-size: 18px;
    //line-height: 36px;
    height: 10vw;
    width: 10vw;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    
}

.return {
    color: white;
    background-color: transparent;
    border-style: hidden;
    align-self: center;
    height: 10vw;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

mat-icon {
    font-size: 8vw;
    //line-height: 5vw;
    //vertical-align: middle;
    //align-items: center;
    height: auto;
    width: 10vw;
    //align-self:center; 
}

.mat-mdc-icon-button .mat-mdc-button-touch-target {
    /*
    position: absolute;
    top: 50%;
    height: 0px !important;
    left: 50%;
    width: 0px !important;
    transform: translate(-50%, -50%);
    */
    width: inherit !important;
}

#startmenu {
    .hsb-key {
        
    }
}

 