<!--
Möchte man für ein neues Component einen Header erstellen, kopiert man eines der bereits erstellten Header und passt 
*ngIf="currentLocation === 'startmenu'" an. 'startmenu' wird durch den im app-routing-module für das component konfigurierten string ersetzt.


-->


<div class="header" id="startmenu" *ngIf="currentLocation === 'startmenu'">
    <img class="hsb-key" src="../../assets/hsb assets/key_hsb.png">
    <div class="title">RAUMFINDER</div>
</div>

<div class="header" id="list-room" *ngIf="currentLocation === 'list-room'">
    <button class="return" mat-icon-button (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="title">Raum suchen</div>
</div>

<div class="header" id="list-building" *ngIf="currentLocation === 'list-building'">
    <button class="return" mat-icon-button (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="title">Gebäude suchen</div>
</div>

<div class="header" id="view-room" *ngIf="currentLocation === 'view-room'">
    <button class="return" mat-icon-button (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="title">{{currentRoom.name}}, {{currentRoom.building}}</div>
    <button class="button" mat-icon-button (click)="unfavedRoom()" *ngIf="currentRoom.favorite == true">
        <mat-icon>star</mat-icon>
    </button>
    <button class="button" mat-icon-button (click)="favedRoom()" *ngIf="currentRoom.favorite == false">
        <mat-icon>star_border</mat-icon>
    </button>
</div>

<div class="header" id="view-building" *ngIf="currentLocation === 'view-building'">
    <button class="return" mat-icon-button (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="title">{{currentBuilding.name}}</div>
    <button class="button" mat-icon-button (click)="unfavedBuilding()" *ngIf="currentBuilding.favorite == true">
        <mat-icon>star</mat-icon>
    </button>
    <button class="button" mat-icon-button (click)="favedBuilding()" *ngIf="currentBuilding.favorite == false">
        <mat-icon>star_border</mat-icon>
    </button>
</div>

<div class="header" id="favorites" *ngIf="currentLocation === 'favorites'">
    <button class="return" mat-icon-button (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="title">Favoriten</div>
    <button class="button" mat-icon-button disabled>
        <mat-icon>star</mat-icon>
    </button>
</div>