

.header {
    background-color: #001D3D;
    //background-image: url(../../assets/hsb\ assets/caleidoscope_green.svg)
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    //height: 90px;
    height: 85px;
    //overflow: hidden;
    .logo-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        .raumfinder {
            color: white;
            font-size: 42px;
            font-weight: bold;
        }
        
        .hsb-key {
            //padding:0.5rem;
            //padding-right: 1rem;
            height: 25px;
            width: auto;
            margin-right: 5px;
        }
    }
    .return {
        color: white;
        background-color: transparent;
        border-style: hidden;
        height: 40px;
        width: auto;
        cursor: pointer;
        margin-bottom: 10px;
        
        mat-icon {
            transform:scale(1.8);
        }
    }
    .title {
        color: white;
        font-size: 30px;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .roomName {
            color: white;
            font-size: 30px;
            font-weight: bold;
        }
        .buildingName {
            font-weight: normal;
        }
        .buildingAddress {
            width: 100%;
            font-weight: normal;
            font-size: 15px;
        }
    }
    .icon-right {
        color: white;
        background-color: transparent;
        border-style: hidden;
        transform: scale(1.8);
        margin-left: auto;
        padding-right: 50px;
    }
}


.mat-mdc-icon-button .mat-mdc-button-touch-target {
    /*
    position: absolute;
    top: 50%;
    height: 0px !important;
    left: 50%;
    width: 0px !important;
    transform: translate(-50%, -50%);
    */
    width: inherit !important;
}


 