
app-footer {
    position: absolute;
    bottom: 0;
    width:100%;
}

.loader {
  background-image: url(../../assets/hsb\ assets/hsb_loader.png);
  box-shadow: inset 0 0 0 100vh rgba(0, 29, 61, 0.6);
  background-color: #001d3d;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-wrap: wrap;
  gap: 0;
  justify-content: center;
  align-items: flex-start;

  transition: all 0.2s ease-in-out;
  z-index: 2;
  position: absolute;
  top: 0;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 18vh;

    .logo {
      width: 50%;
      margin-bottom: -2vw;
    }

    .title {
      font-size: 9vw;
      font-weight: bold;
      color:white;
      transition: all 0.2s ease-in-out;
    }
  }
}

.loaded {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  .below-header {
    height: calc(100vh - 10vh);
    background: url(../../assets/hsb\ assets/hsb_background.jpg);
    box-shadow: inset 0 0 0 100vh rgba(0, 29, 61, 0.6);
    background-size: cover;
    background-position: center;
  }
}


