<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<!--meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.5" /-->

<!--
    Gebäudeplan Stockwerke Toggle
-->
<div class="button-wrapper" *ngIf="viewToggle[0] === 'Belegungs'">
    <ng-container *ngIf="currentRoomBuildingFloors.length >= 6">
        <mat-button-toggle class="scroll-toggle-left" (click)="scroll('left')">
            <span class="material-icons">arrow_left</span>
        </mat-button-toggle>
    </ng-container>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" #toggleButtons>
        <ng-container *ngFor="let floor of currentRoomBuilding.floor_ids; index as i">
            <mat-button-toggle class="toggle-button" [checked]="floorName == this.currentRoomBuildingFloors[i].name" (click)="toggleBlueprint(this.currentRoomBuildingFloors[i].name)">
                {{this.currentRoomBuildingFloors[i].name}}
            </mat-button-toggle>
        </ng-container>
    </mat-button-toggle-group>
    <ng-container *ngIf="currentRoomBuildingFloors.length >= 6">
        <mat-button-toggle class="scroll-toggle-right" (click)="scroll('right')">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_right"></mat-icon>
        </mat-button-toggle>
    </ng-container>
</div>

<!--
    Raumplan Wochentage Toggle
-->
<div class="button-wrapper" *ngIf="viewToggle[0] === 'Raum'">
    <mat-button-toggle class="scroll-toggle-left" (click)="toggleWeekday('zurück')">
        <span class="material-icons">arrow_left</span>
    </mat-button-toggle>
    <mat-button-toggle-group>
        <mat-button-toggle class="toggle-button" id="weekday" #toggleButtons (click)="toggleWeekday('vor')">
            {{weekdays[dayNumber]}}
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle class="scroll-toggle-right" (click)="toggleWeekday('vor')">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_right"></mat-icon>
    </mat-button-toggle>
</div>

<div class="flex-wrapper">

<!--
    Gebäudeplan Stockwerke Bilder
-->
    <ng-container *ngIf="viewToggle[0] === 'Belegungs'">
        <div class="blueprintImage-wrapper">
            <ng-container *ngFor="let floor of currentRoomBuildingFloors; index as j">
                <ng-container *ngIf="currentRoom.floor === floor.name">
                    <pinch-zoom disableZoomControl="never">
                        <img class="blueprintImage" src="../../assets/hsb assets/{{currentRoom.building}}_Room_{{currentRoom.name}}_{{floor.name}}.png" [hidden]="this.currentRoomBuildingFloors[j].name !== floorName">
                    </pinch-zoom>
                </ng-container>
                <ng-container *ngIf="currentRoom.floor !== floor.name">
                    <pinch-zoom disableZoomControl="never">
                        <img class="blueprintImage" src="../../assets/hsb assets/{{currentRoom.building}}_{{floor.name}}.png" [hidden]="this.currentRoomBuildingFloors[j].name !== floorName">
                    </pinch-zoom>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>

<!--
    Raumplan Wochentage Bilder
-->
    <ng-container *ngIf="viewToggle[0] === 'Raum'">
        <img class="raumplanImage" src="../../assets/Raumplan_{{currentRoom.building}}_{{currentRoom.name}}_{{weekdays[dayNumber]}}.png" alt="../../assets/Raumplan_{{currentRoom.building}}_{{currentRoom.name}}_{{weekdays[dayNumber]}}.png">
    </ng-container>

    <div class="info-bar">
        <div class="adress">
            <span id="room-name">{{currentRoom.name}}</span>
            <span id="building-name">{{currentRoomBuilding.name}}</span>
            <span id="street-name">{{currentRoomBuilding.street}} </span>
            <span id="street-number">{{currentRoomBuilding.street_number}}, </span>
            <span id="plz">{{currentRoomBuilding.plz}} </span>
            <span id="ort">{{currentRoomBuilding.ort}}</span>
        </div>
        <div class="info-button-wrapper">
            <button mat-icon-button class="info-button" (click)="openDialogInfoBuilding()">
                <!--mat-icon>info </mat-icon-->
                <img src="../../assets/Icons/Raum_Info.png">
            </button>
        </div>
    </div>

    <div class="navButton-wrapper">
        <Button class="navButton" id="GebäudeAnsicht" (click)="navigate('view-building/'.concat(currentRoomBuilding.id.toString()))">
            <img src="../../assets/Icons/Gebäude_Ansicht.png">
            <div>
                Gebäude
            </div>
            <div>
                Ansicht
            </div>
        </Button>
        <Button class="navButton" id="BelegungsPlan" (click)="toggleView()">
            <img src="../../assets/Icons/{{viewToggle[0]}}_{{viewToggle[1]}}.png">
            <div>
                {{viewToggle[0]}}
            </div>
            <div>
                {{viewToggle[1]}}
            </div>
        </Button>
        <Button class="navButton" id="FreieRäume" (click)="navigate('list-free-rooms', false, currentRoomBuilding.name)">
            <img src="../../assets/Icons/Freie Räume Icon.png">
            <div>
                Freie
            </div>
            <div>
                Räume
            </div>
        </Button>
    </div>
</div>

