.button-wrapper {
    width: 100%;
    height: 3rem;
    display:flex;
    flex-wrap: nowrap;

    .scroll-toggle-left.mat-button-toggle-checked {
        background-color: #ffffff !important;
        color: #000000 !important;
    }

    .scroll-toggle-right.mat-button-toggle-checked {
        background-color: #ffffff !important;
        color: #000000 !important;
    }

    .scroll-toggle-left {
        flex-basis:20vw;
        flex-grow: 0;
        border-width: 1px;
        border-color: grey;
        border-radius: 0%;

    }
    .scroll-toggle-right {
        flex-basis:20vw;
        flex-grow: 0;
        border-width: 1px;
        border-color: grey;
        border-radius: 0%;
    }

    .toggle-button.mat-button-toggle-checked {
        background-color: grey !important;
        color: #000000 !important;
    }

    mat-button-toggle-group {
        width: 60vw;
        flex-grow: 1;
        border-radius: 0%;
        background-color: white;
        border-width: 1px;
        border-color: grey;
        display:flex;
        overflow: auto;
        //justify-content: center;

        .toggle-button {
            flex-basis: 20vw;
            flex-grow: 1;
            flex-shrink: 0;
            border-width: 1px;
            border-color: grey;
            height:100%;
            text-align: center;
        }
    }
}

.flex-wrapper {
    height: calc(100% - 3rem);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

     .blueprintContainer {
      background-color: white;
      width: 100%;
      height: 100%;
      background-size: contain;
      flex-basis: 50vh; /* Die Basisgröße Flex-Containers beträgt 50% der Viewport-Höhe */
      flex-grow: 2; /* Das Element kann sich im Verhältnis 2:1 gegenüber anderen flexiblen Elementen vergrößern */
      overflow: hidden;
    }
    .imageWrapper {
      height:100%;
      width: 100%;
      .blueprintImage {
        width: 100%;
        height: 100%;;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    .info-bar {
        color:white;
        width: 100%;
        flex-basis: 15vh;
        background-image: url(../../assets/Hoersaal.jpg);
        box-shadow: inset 0 0 0 100vh rgba(0, 29, 61, 0.6);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        .adress {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 5%;
            margin-right: auto;
            font-size: 0.8rem;
            #room-name {
                width: 100%;
                font-size: 1.2rem;
            }
            #building-name {
                width: 100%;
            }
            #street-name {
                margin-right: 0.2rem;
            }
            #street-number {
                margin-right: 0.2rem;
            }
            #plz {
                margin-right: 0.2rem;
            }
            #ort {

            }
        }
        .info-button-wrapper {
            width: 20%;
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .info-button {
                background-color: transparent;
                border: none;
                color:white;
                width: 3rem;
                height: 3rem;
                //font-size: 100px !important;

            }
        }
    }

    i.material.symbols.outlined {
        font-size: 50px !important;
    }

    .navButton-wrapper {

        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        flex-basis: 10vh;
        flex-grow: 1;
        .navButtons {
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            div {
                width: 100%;
            }
        }
        #GebäudeAnsicht {
            flex-basis: 33%;
            flex-grow: 1;
        }
        #raumSuchen {
            width: 25px;
            height: 25px;
        }
        #BelegungsPlan {
            flex-basis: 33%;
            flex-grow: 1;
        }
        #FreieRäume {
            flex-basis: 33%;
            flex-grow: 1;
        }
    }

}

