//TODO: Bug: In widescreen mode only text is clickable, not entire table row


/* Structure */
table {
    width: 100%;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

app-searchbar {
    width: 100%;
}

.nonheader-row:hover {
    background-color: rgba(0, 29, 61, 0.1);
    color:white;
    cursor: pointer;
}

