/* Structure */
table {
    width: 100%;
}
  
.mat-mdc-form-field {
    font-size: 14px; //TODO: responsive sizes
    width: 100%;
}

app-searchbar {
    width: 100%;
}

.nonheader-row:hover {
    background-color: #001D3D;
    color:white;
    cursor: pointer;
}

.imgBubble-wrapper {

    height: 3rem; //TODO: responsive sizes

    .imgBubble {
        height: 100%;
        aspect-ratio: 1 / 1;
        width: auto;
        border-radius: 50%;
    }
}

