/* Structure */
table {
    width: 100%;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

app-searchbar {
    width: 100%;
}

.nonheader-row:hover {
    background-color: #001D3D;
    color:white;
    cursor: pointer;
}