.parent {
    width: 100%;
    height: content;
    background-color: rgb(186, 207, 66);
    display: flex;
    flex-wrap:wrap;
}

.container {
    display:flex;
    flex-basis: 40vh;
    flex-grow: 6;
    height: content;
    //background-color: green;
    opacity: 70%;


}

.child {
    flex-basis: 20vh;
    flex-grow: 0;
    height: 10vh;
    //background-color: green;
    margin: 1rem;
    opacity: 70%;

}

.bigchild {
    flex-basis: 20vh;
    flex-grow: 4;
    height: 10vh;
    background-color: green;
    margin: 1rem;
    opacity: 70%;
    @media only screen and (max-width: 70vh) {
        order: 2;
        flex-basis: 30vh;
        margin-left: 1rem;
        margin-top: 0;
    }
    margin-left: 0;

}

#one {
    background-color: rgb(255, 0, 217);
    
}

#two {
    background-color: rgb(0, 149, 255);
    flex-grow: 0;
    margin-left: auto;
    @media only screen and (max-width: 70vh) {
        order: 1;
      }
}

#fake {
    background-color: red;
    height: 1vh;
}

#absolute {
    background-color: rgb(0, 149, 255);
    position:absolute;
    top:0;
    right:0;
}