<div class="content">
  <p class="title">Herzlich willkommen!</p>
  <p class="subtitle">Beim Raumfinder der Hochschule Bremen</p>
  <button class="button1" (click)="navigate('list-room')">Raum suchen</button>
  <button class="button2" (click)="navigate('list-building')">Gebäude suchen</button>
  <button class="button3" (click)="navigate('list-free-rooms')">Freie Räume</button>
  <button class="button4" (click)="navigate('favorites')">Favoriten</button>
  <button class="button5">Einstellungen</button>
</div>
