
<!--<div class="buttons">-->
<!--    <button (click)="navigate('list-room')">Raum suchen</button>-->
<!--    <button (click)="navigate('list-building')">Gebäude suchen</button>-->
<!--    <button>Freie Räume</button>-->
<!--    <button (click)="navigate('favorites')">Favoriten</button>-->
<!--    <button>Einstellungen</button>-->
<!--</div>-->

<div class="buttons">
  <button class="button1" (click)="navigate('list-room')">Raum suchen</button>
  <button class="button2" (click)="navigate('list-building')">Gebäude suchen</button>
  <button class="button3">Freie Räume</button>
  <button class="button4" (click)="navigate('favorites')">Favoriten</button>
  <button class="button5">Einstellungen</button>
</div>
