
<div class="flex-wrapper">

    <img class="blueprintImage" src="../../assets/hsb assets/Map_{{currentBuilding.name}}.png" alt="Building Image">

    <div class="info-bar">
        <div class="oeffnungszeiten">
            <span id="oeffnungszeitenTitel">Öffnungszeiten</span>
            <span id="oeffnungszeitenText">Montag bis Freitag: 6 bis 22 Uhr<p></p>Sa-So: Zugang nur über Kartenleser</span>
        </div>
        <div class="map-button-wrapper">
            <button mat-icon-button class="map-button">
                <img src="../../assets/Icons/google-maps.svg">
            </button>
        </div>
    </div>

    <div class="navButton-wrapper">
        <Button class="navButton" id="RaumSuchen" (click)="navigate('list-room', false, currentBuilding.name)">
            <img src="../../assets/Icons/Raum_Suchen.png">
            <div>
                Raum
            </div>
            <div>
                Suchen
            </div>
        </Button>
        <Button class="navButton" id="GebäudeAnsicht" (click)="navigateWithBuilding('buildingBlueprint', currentBuilding, true)">
            <div>
                Gebäude
            </div>
            <div>
                Plan
            </div>
        </Button>
        <Button class="navButton" id="FreieRäume" (click)="navigate('list-free-rooms', false, currentBuilding.name)">
            <div>
                Freie
            </div>
            <div>
                Räume
            </div>
        </Button>
    </div>
</div>
