p {
  margin: 0;
  padding: 0;
}

.flex-wrapper {
  //height: calc(100% - 3rem);
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .blueprintImage {
    width: 100%;
    flex-basis: 50vh; /* Die Basisgröße Flex-Containers beträgt 50% der Viewport-Höhe */
    min-height: 50vh;
    flex-grow: 2; /* Das Element kann sich im Verhältnis 2:1 gegenüber anderen flexiblen Elementen vergrößern */
    background-color:#ffffff;
    background-size:cover;
    object-fit:cover;
  }

  .info-bar {
    color: white;
    width: 100%;
    //flex-basis: 15vh;
    height: 100px;
    //background-image: url(../../assets/hsb\ assets/hsb_loader.png);
    box-shadow: inset 0 0 0 100vh rgba(0, 29, 61, 0.6);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    .oeffnungszeiten {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 5%;
      margin-right: auto;
      font-size: 0.8rem;

      #oeffnungszeitenTitel {
        width: 100%;
        font-size: 1.2rem;
      }

      #oeffnungszeitenText {
        width: 100%;
        //margin-right: 0.2rem;
      }
    }

    .map-button-wrapper {
      width: 20%;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .map-button {
        background-color: transparent;
        border: none;
        color: white;
        width: 5rem;
        height: 5rem;
        //font-size: 100px !important;
        img {
          transform: scale(2);
        }

      }
    }
  }

  .mat-icon-lg {
    transform: scale(2);
  }

  i.material.symbols.outlined {
    font-size: 50px !important;
  }

  .navButton-wrapper {

    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-basis: 120px;
    flex-grow: 0;

    .navButtons {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      div {
        width: 100%;
      }
    }

    #RaumSuchen {
      flex-basis: 33%;
      flex-grow: 1;
      font-size: large;
      mat-icon {
        transform: scale(1.8);
        margin-bottom: 5px;
        //height: 20px;
      }
    }

    #GebäudeAnsicht {
      flex-basis: 33%;
      flex-grow: 1;
      font-size: large;
      img {
        height: 40px;
      }
    }

    #FreieRäume {
      flex-basis: 33%;
      flex-grow: 1;
      font-size: large;
      img {
        height: 40px;
      }
    }
  }
}
