//TODO: Bug: In widescreen mode only text is clickable, not entire table row


/* Structure */
table {
    width: 100%;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.nonheader-row:hover {
    background-color: #001D3D;
    color:white;
    cursor: pointer;
}

.chip-grid {
    //margin-top: 30vh;
}

mat-chip-row {
    height: 3rem;
    width: 10rem;
    font-size: 3rem;
    background-color: #001D3D !important;
    button {
        color:white !important;
        //height: 0.1rem;
        font-size: 1rem;
    }
}

.mat-mdc-standard-chip {
    --mdc-chip-label-text-color: #fff;
}

.mat-mdc-snack-bar-container {
    width: 50vw !important;
}


