<mat-form-field subscriptSizing="dynamic">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput matInputAutofocus (keyup)="applyFilter($event)" placeholder="Raumnummer eingeben" #input value="{{defaultValue}}" [matAutocomplete]="auto">
    <button [disabled]="!input.value" matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''; clearFilter()">
        <div *ngIf="input.value">
            <mat-icon>close</mat-icon>
        </div>
    </button>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let room of dataSource.connect().value">
            {{room.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>