/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Inter, sans-serif;
}

.mat-button-toggle-button {
    height: 100% !important;
}

.mat-button-toggle-group::-webkit-scrollbar {
    display: none !important;
}

.mdc-text-field__input::-webkit-calendar-picker-indicator {
    display: block !important;
}
/*
.mat-form-field-no-padding .mat-form-field-wrapper {
    margin-bottom: -1.25em;
}
*/

.mat-mdc-mini-fab {
    box-shadow: none !important;
}

.mat-card-header-text {
    width: 100%;
}

.mat-card-header {
    width: 100%;
}

.mat-datepicker-actions {
    padding: 0px !important;
}

.pz-zoom-button[_ngcontent-ng-c1903382626] {
    background-image: url('../src/assets/Icons/pz-zoom-in-button.svg'), url('../src/assets/Icons/pz-zoom-out-button.svg') !important;
}