.headline-wrapper {
    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 1px;
    border-color: grey;
    .headline {
        margin-left: auto;
        margin-right: auto;
    }
    
}