
<div class="element-wrapper">

    <button mat-button class="headline-wrapper" disabled>
        <span class="headline">Persönlich</span>
    </button>

    <button mat-button class="element" (click)="navigate('unlock-rooms')">
        <mat-icon>lock_open</mat-icon>
        <span>Räume freischalten</span>
        <mat-icon iconPositionEnd class="arrow">keyboard_arrow_right</mat-icon>
    </button>

    <button mat-button class="headline-wrapper" disabled>
        <span class="headline">Anzeige und Textgröße</span>
    </button>

    <button mat-button class="element">
        <mat-icon>format_size</mat-icon>
        Textgröße
        <mat-icon iconPositionEnd class="arrow">keyboard_arrow_right</mat-icon>
    </button>

    <button mat-button class="element">
        <mat-icon>format_color_reset</mat-icon>
        Ohne Farbe differenzieren
        <mat-icon iconPositionEnd class="arrow">keyboard_arrow_right</mat-icon>
    </button>

    <button mat-button class="element">
        <mat-icon>brightness_high</mat-icon>
        <div class="button-text">Helligkeit</div>
        <mat-icon iconPositionEnd class="arrow">keyboard_arrow_right</mat-icon>
    </button>

</div>
