.element-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;

    .headline-wrapper {
        width: 100%;
        display: flex;
        background-color: white;
        border-bottom:1px solid black;
        .headline {
            zoom: 1.2;
            font-weight: bold;
            margin-left: auto;
            margin-right: auto;
        }
        
    }
    .element {
        zoom: 1.4;
        width: 100%;
        border-bottom:1px solid grey;
        .button-text {
        }
        .arrow {
            margin-left: auto;
        }
        #iconRäumeFreischalten {
            transform: scale(0.3);
        }

    }

}

